<!DOCTYPE html>
<html lang="en">

<% include partials/_head %>

<body>
  <% include partials/_header %>
  <form method="POST" action="/urls/<%= shortURL %>/edit">
    <table>
      <tr>
        <td>
          Short link:
          <%= shortURL %>
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" name="longURL" value="<%= urlDatabase[shortURL]['longURL'] %>">
        </td>
        <td>
          <input id="<%= shortURL %>" name="<%= shortURL %>" type="submit" value="Edit" />
        </td>
      </tr>
    </table>
    <% include partials/_footer %>
  </form>
</body>

</html>