<!DOCTYPE html>
<html lang="en">

<% include partials/_head %>

<body>
  <% include partials/_header %>

  <% for ( let shortURL in urlDatabase ) { %>
    <% let urlObj = urlDatabase[shortURL] %>
  <% if ( urlObj["owner"] == user_id ) { %>
  <table>
    <tr>
      <td>
        <%= shortURL %>
      </td>
      <td>
        <%= urlDatabase[shortURL].longURL %>
      </td>
      <td>
        <table>
          <tr>
            <form method="POST" action="/urls/<%= shortURL %>/delete">
              <td>
                <input id="<%= shortURL %>" name="<%= shortURL %>" type="submit" value="Delete" />
              </td>
            </form>
          </tr>
          <form method="GET" action="/urls/<%= shortURL %>">
            <tr>
              <input id="<%= shortURL %>" name="<%= shortURL %>" type="submit" value="Edit" />
            </tr>
          </form>
        </table>
      </td>
    </tr>
  </table>
  <% } %>
  <% }; %>
  <% include partials/_footer %>
</body>

</html>