<!DOCTYPE html>
<html lang="en">

<% include partials/_head%>

<body>
  <% include partials/_header %>
  <% for (let shortURL in urls){ %>


  <table>
    <tr>
      <td>
        <%= shortURL %>
      </td>
      <td>
        <%= urls[shortURL] %>
      </td>
      <td>
        <table>
          <tr>
            <form method="POST" action="/urls/<%= shortURL %>/delete">
              <td>
                <input id="<%= shortURL %>" name="<%= shortURL %>" type="submit" value="Delete" />
              </td>
            </form>
          </tr>
          <form method="GET" action="/urls/<%= shortURL %>">
            <tr>
              <input id="<%= shortURL %>" name="<%= shortURL %>" type="submit" value="Update" />
            </tr>
          </form>
        </table>
      </td>
    </tr>
  </table>
  <% }; %>
  <% include partials/_footer %>
</body>

</html>